<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.dftools.workflow.tasks">
      <task
            id="pisdf.task.export2c.ExportToC"
            name="Export to C++ task"
            type="pisdf.task.export2c.ExportToC">
         <inputs>
            <input
                  id="PiSDF"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
         </inputs>
      </task>
   </extension>

</plugin>
