<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.experiment.pimm.cppgenerator.PiMMCppGenerationTask"
            name="C++ Code Generation from PiMM Models Task"
            type="org.ietr.preesm.pimm.algorithm.cppgenerator.PiMMCppGenerationTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
      </task>
       <task
            id="org.ietr.preesm.experiment.pimm2sdf.PiMM2SDFTask"
            name="Dynamic PiMM to SDF transformation"
            type="org.ietr.preesm.pimm.algorithm.pimm2sdf.DynamicPiMM2SDFTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDFs"
                  object="java.util.Set">
            </output></outputs>
      </task>
      <task
            id="org.ietr.preesm.experiment.pimm2sdf.StaticPiMM2SDFTask"
            name="Static PiMM to SDF transformation"
            type="org.ietr.preesm.pimm.algorithm.pimm2sdf.StaticPiMM2SDFTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.experiment.pimm.subgraph.connector.SubgraphConnectorTask"
            name="PiMM Subgraph Connector Task"
            type="org.ietr.preesm.pimm.algorithm.subgraph.connector.SubgraphConnectorTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph"></output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.experiment.model.transformation.taskExpression"
            name="PREESM PiSDF Stats Printer"
            type="org.ietr.preesm.pimm.algorithm.stats.printer.PrintPISDFStats">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.pimm.checker.task.PiMMAlgorithmCheckerTask"
            name="PiMM Checker"
            type="org.ietr.preesm.pimm.algorithm.checker.task.PiMMAlgorithmCheckerTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
