Karol Desnos <karol.desnos@insa-rennes.fr> kdesnos <kdesnos@insa-rennes.fr>
Karol Desnos <karol.desnos@insa-rennes.fr> unknown <kdesnos@pc-eii-pr09.educ.insa>

Maxime Pelcat <Maxime.Pelcat@insa-rennes.fr> mpelcat <mpelcat@insa-rennes.fr> 
Maxime Pelcat <Maxime.Pelcat@insa-rennes.fr> Pelcat Maxime <mpelcat@insa-rennes.fr>
Maxime Pelcat <Maxime.Pelcat@insa-rennes.fr> Maxime <mpelcat@insa-rennes.fr>

Julien Heulot <julien.heulot@insa-rennes.fr> Julien Heulot <jheulot@insa-rennes.fr>
Julien Heulot <julien.heulot@insa-rennes.fr> Julien <jheulot@insa-rennes.fr>

Clément Guy <clement.guy@insa-rennes.fr> Clément Guy <clement.g.guy@gmail.com>
