<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.clustering"
            name="Clustering"
            type="org.ietr.preesm.clustering">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
            <input
                  id="architecture"
                  object="org.ietr.dftools.architecture.slam.Design">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
