<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.plugin.codegen"
            name="Default code generation"
            type="org.ietr.preesm.plugin.codegen.CodeGenerationTransformation">
         <outputs>
            <output
                  id="SourceFileList"
                  object="org.ietr.preesm.core.codegen.SourceFileList"></output>
         </outputs>
         <inputs>
            <input
                  id="architecture"
                  object="net.sf.dftools.architecture.slam.Design">
            </input>
            <input
                  id="DAG"
                  object="org.sdf4j.model.dag.DirectedAcyclicGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.plugin.codegen.memory.MemoryOptimizer"
            name="Memory Optimizer"
            type="org.ietr.preesm.plugin.codegen.memory.MemoryOptimizer">
         <inputs>
            <input
                  id="DAG"
                  object="org.sdf4j.model.dag.DirectedAcyclicGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="DAG"
                  object="org.sdf4j.model.dag.DirectedAcyclicGraph">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
