<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ietr.preesm.core.tasks">
      <task
            id="org.ietr.preesm.plugin.codegen"
            name="Default code generation"
            type="org.ietr.preesm.plugin.codegen.CodeGenerationTransformation">
      </task>
   </extension>

</plugin>
