<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sf.graphiti.model.definition">
      <configuration
            extension="graphml"
            name="GraphML"
            type="text/xml"
            validator="org.ietr.preesm.ui.editor.graph.validators.SDFValidator">
         <graphType
               name="SDF Graph">
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="graph parameter"
                  type="java.util.List">
            </parameter>
            <parameter
                  name="graph variable"
                  type="java.util.Map">
            </parameter>
         </graphType>
         <vertexType
               name="Input port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="60"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="triangle">
            </shape>
         </vertexType>
         <vertexType
               name="Output port">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="100"
                  green="0"
                  red="60">
            </color>
            <shape
                  type="triangle">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
         </vertexType>
         <vertexType
               name="Vertex">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="instance argument"
                  type="java.util.Map">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="17"
                  green="188"
                  red="238">
            </color>
            <size
                  height="40"
                  width="40">
            </size>
            <shape
                  type="roundedBox">
            </shape>
         </vertexType>
         <edgeType
               directed="true"
               name="Dataflow edge">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="1"
                  name="source production"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="1"
                  name="target consumption"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0"
                  name="delay"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="char"
                  name="data type"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/sdf4j/input_sdf4j.xslt">
            </xslt>
         </import>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/sdf4j/output_sdf4j.xslt">
            </xslt>
         </export>
         <vertexType
               name="Broadcast">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="10"
                  green="120"
                  red="0">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
         <vertexType
               name="fork">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="0"
                  green="10"
                  red="120">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
         <vertexType
               name="join">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <color
                  blue="120"
                  green="0"
                  red="10">
            </color>
            <size
                  height="30"
                  width="30">
            </size>
            <shape
                  type="circle">
            </shape>
         </vertexType>
      </configuration>
      <configuration
            extension="design"
            name="IP-XACT Design"
            type="text/xml"
            validator="org.ietr.preesm.ui.editor.graph.validators.IPXACTValidator">
         <graphType
               name="Spirit IP-XACT simple design">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/input_IP-XACT-Design-Simple.xslt">
            </xslt>
         </import>
         <vertexType
               name="hierConnection">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="componentInstance">
            <color
                  blue="255"
                  green="255"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="componentType"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="operator">
            <color
                  blue="16"
                  green="220"
                  red="123">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="-1"
                  name="dataCopySpeed"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="medium">
            <color
                  blue="96"
                  green="96"
                  red="244">
            </color>
            <shape
                  type="circle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="medium_dataRate"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="medium_overhead"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="parallelNode">
            <color
                  blue="252"
                  green="209"
                  red="199">
            </color>
            <shape
                  type="triangle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="dataRate"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="contentionNode">
            <color
                  blue="25"
                  green="14"
                  red="11">
            </color>
            <shape
                  type="triangle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="dataRate"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="dma">
            <color
                  blue="0"
                  green="100"
                  red="50">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="ram">
            <color
                  blue="150"
                  green="255"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType
               directed="true"
               name="setup">
            <color
                  blue="0"
                  green="255"
                  red="0">
            </color>
            <parameter
                  name="setupTime"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType
               directed="false"
               name="hierConnection">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType
               directed="false"
               name="interconnection">
            <color
                  blue="0"
                  green="0"
                  red="0">
            </color>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/output_IP-XACT-Design-Simple.xslt">
            </xslt>
         </export>
      </configuration>
      <configuration
            extension="component"
            name="IP-XACT Component"
            type="text/xml"
            validator="org.ietr.preesm.ui.editor.graph.validators.IPXACTValidator">
         <graphType
               name="Spirit IP-XACT simple component">
            <parameter
                  name="cmpVendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpLibrary"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpName"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpVersion"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0x00000000"
                  name="memoryAddress"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0xFFFFFFFF"
                  name="memoryRange"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="128"
                  name="memoryWidth"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/input_IP-XACT-Component-Simple.xslt">
            </xslt>
         </import>
         <vertexType
               name="Port">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busVendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busLibrary"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busName"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busVersion"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/ip-xact/output_IP-XACT-Component-Simple.xslt">
            </xslt>
         </export>
         <vertexType
               name="subDesign">
            <color
                  blue="85"
                  green="0"
                  red="163">
            </color>
            <shape
                  type="circle">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
         </vertexType>
      </configuration>
      <configuration
            extension="workflow"
            name="Workflow"
            type="text/xml"
            validator="org.ietr.preesm.ui.editor.graph.validators.WorkflowValidator">
         <graphType
               name="DFTools Workflow">
         </graphType>
         <import>
            <xslt
                  name="xslt/net/sf/graphiti/workflow/input_workflow.xslt">
            </xslt>
         </import>
         <export>
            <xslt
                  name="xslt/net/sf/graphiti/workflow/output_workflow.xslt">
            </xslt>
         </export>
         <vertexType
               name="Scenario source">
            <color
                  blue="77"
                  green="80"
                  red="192">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="plugin identifier"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="Task">
            <color
                  blue="125"
                  green="73"
                  red="31">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="variable declaration"
                  type="java.util.Map">
            </parameter>
            <parameter
                  name="plugin identifier"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType
               directed="true"
               name="Data transfer">
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.sf.graphiti.ui.editors.GraphEditor"
            contributorClass="net.sf.graphiti.ui.editors.GraphActionBarContributor"
            default="true"
            extensions="workflow, graphml, design, component"
            icon="icons/graphiti.gif"
            id="org.ietr.preesm.ui.editor.graph"
            name="Preesm Network Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="net.sf.graphiti.ui.properties.contributor">
         <propertyTab
               category="net.sf.graphiti.ui.properties.category.graph"
               id="org.ietr.preesm.ui.properties.tab.sdf.graph.parameters"
               label="Graph Parameters">
         </propertyTab>
         <propertyTab
               category="net.sf.graphiti.ui.properties.category.graph"
               id="org.ietr.preesm.ui.properties.tab.sdf.graph.variables"
               label="Graph Variable Declarations">
         </propertyTab>
         <propertyTab
               category="net.sf.graphiti.ui.properties.category.vertex"
               id="org.ietr.preesm.ui.properties.tab.workflow.task.variables"
               label="Task Variables">
         </propertyTab>
         <propertyTab
               category="net.sf.graphiti.ui.properties.category.vertex"
               id="org.ietr.preesm.ui.properties.tab.sdf.vertex.arguments"
               label="Instance Arguments">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="net.sf.graphiti.ui.properties.contributor">
         <propertySection
               class="org.ietr.preesm.ui.properties.SDFGraphParametersListSection"
               filter="org.ietr.preesm.ui.properties.filters.SDFGraphFilter"
               id="org.ietr.preesm.ui.properties.section.sdf.graph.parameters"
               tab="org.ietr.preesm.ui.properties.tab.sdf.graph.parameters">
         </propertySection>
         <propertySection
               class="org.ietr.preesm.ui.properties.SDFGraphVariablesMapSection"
               filter="org.ietr.preesm.ui.properties.filters.SDFGraphFilter"
               id="org.ietr.preesm.ui.properties.section.sdf.graph.variables"
               tab="org.ietr.preesm.ui.properties.tab.sdf.graph.variables">
         </propertySection>
         <propertySection
               class="org.ietr.preesm.ui.properties.WorkflowTaskVariablesMapSection"
               filter="org.ietr.preesm.ui.properties.filters.WorkflowTaskFilter"
               id="org.ietr.preesm.ui.properties.section.workflow.task.variables"
               tab="org.ietr.preesm.ui.properties.tab.workflow.task.variables">
         </propertySection>
         <propertySection
               class="org.ietr.preesm.ui.properties.SDFVertexInstanceArgumentsMapSection"
               filter="org.ietr.preesm.ui.properties.filters.SDFVertexFilter"
               id="org.ietr.preesm.ui.properties.section.sdf.vertex.arguments"
               tab="org.ietr.preesm.ui.properties.tab.sdf.vertex.arguments">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="net.sf.dftools.ui.workflow.launch.WorkflowLaunchShortcut"
            icon="icons/workflow.png"
            id="net.sf.dftools.ui.workflow.workflowLaunchShortcut"
            label="Preesm Workflow"
            modes="run,debug">
         <description
               description="Launch a Preesm workflow"
               mode="run">
         </description>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <test
                              forcePluginActivation="true"
                              property="net.sf.dftools.isWorkflow">
                        </test>
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
