<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.ietr.preesm.rcp.utils.PreesmApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ietr.preesm.rcp.utils.PreesmPerspective"
            icon="icons/preesmLogo_48x48.bmp"
            id="org.ietr.preesm.rcp.utils.PreesmPerspective"
            name="Preesm">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.ietr.preesm.rcp.utils.application"
            name="Preesm">
         <property
               name="windowImages"
               value="icons/preesmLogo_16x16.bmp,icons/preesmLogo_32x32.bmp,icons/preesmLogo_48x48.bmp,icons/preesmLogo_64x64.bmp,icons/preesmLogo_128x128.bmp,icons/preesmLogo_256x256.bmp">
         </property>
         <property
               name="appName"
               value="Preesm">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>
