<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright or © or Copr. IETR/INSA - Rennes (2018) :

    Antoine Morvan <antoine.morvan@insa-rennes.fr> (2018)

    This software is a computer program whose purpose is to help prototyping
    parallel applications using dataflow formalism.

    This software is governed by the CeCILL  license under French law and
    abiding by the rules of distribution of free software.  You can  use,
    modify and/ or redistribute the software under the terms of the CeCILL
    license as circulated by CEA, CNRS and INRIA at the following URL
    "http://www.cecill.info".

    As a counterpart to the access to the source code and  rights to copy,
    modify and redistribute granted by the license, users are provided only
    with a limited warranty  and the software's author,  the holder of the
    economic rights,  and the successive licensors  have only  limited
    liability.

    In this respect, the user's attention is drawn to the risks associated
    with loading,  using,  modifying and/or developing or reproducing the
    software by the user in light of its specific status of free software,
    that may mean  that it is complicated to manipulate,  and  that  also
    therefore means  that it is reserved for developers  and  experienced
    professionals having in-depth computer knowledge. Users are therefore
    encouraged to load and test the software's suitability as regards their
    requirements in conditions enabling the security of their systems and/or
    data to be ensured and,  more generally, to use and operate it in the
    same conditions as regards security.

    The fact that you are presently reading this means that you have had
    knowledge of the CeCILL license and that you accept its terms.

-->
<?eclipse version="3.4"?>

<plugin>

   <!-- Workflow editor & config -->
   <extension point="org.eclipse.ui.editors">
      <editor
         class="org.ietr.dftools.graphiti.ui.editors.GraphEditor"
         contributorClass="org.ietr.dftools.graphiti.ui.editors.GraphActionBarContributor"
         default="true" extensions="workflow" icon="icons/workflow.png"
         id="net.sf.dftools.ui.WorkflowEditor" name="Workflow Editor">
      </editor>
   </extension>
   <extension
      point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         class="org.preesm.ui.workflow.launch.WorkflowPropertyTester"
         id="net.sf.dftools.ui.workflow.workflowTester"
         namespace="net.sf.dftools" properties="isWorkflow"
         type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
         class="org.preesm.ui.workflow.command.OldWorkflowPropertyTester"
         id="net.sf.dftools.ui.workflow.oldWorkflowTester"
         namespace="net.sf.dftools" properties="isOldWorkflow"
         type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard canFinishEarly="false"
         category="org.ietr.preesm.category"
         class="org.preesm.ui.workflow.NewWorkflowFileWizard"
         hasPages="true" icon="icons/graphiti.gif"
         id="org.ietr.preesm.ui.wizards.workflow" name="Preesm Workflow"
         project="false">
         <description>
            Create a new PREESM workflow.
         </description>
      </wizard>
   </extension>
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
         contributorId="org.ietr.dftools.graphiti.ui.properties.contributor">
         <propertySection
            class="org.preesm.ui.workflow.properties.WorkflowTaskVariablesMapSection"
            filter="org.preesm.ui.workflow.filters.WorkflowTaskFilter"
            id="net.sf.dftools.ui.workflow.variables.section"
            tab="net.sf.dftools.ui.workflow.variables">
         </propertySection>
      </propertySections>
   </extension>
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
         contributorId="org.ietr.dftools.graphiti.ui.properties.contributor">
         <propertyTab
            category="org.ietr.dftools.graphiti.ui.properties.category.vertex"
            id="net.sf.dftools.ui.workflow.variables"
            label="Task Variables">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
         class="org.preesm.ui.workflow.launch.WorkflowLaunchConfigurationTabGroup"
         id="net.sf.dftools.ui.workflow.launchConfigurationTabGroup"
         type="net.sf.dftools.ui.workflow.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
         configTypeID="net.sf.dftools.ui.workflow.launchConfigurationType"
         icon="icons/workflow.png"
         id="net.sf.dftools.ui.workflow.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
      point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
         delegate="org.preesm.ui.workflow.launch.WorkflowLaunchConfigurationDelegate"
         id="net.sf.dftools.ui.workflow.launchConfigurationType"
         modes="run" name="DFTools Workflow" public="true">
      </launchConfigurationType>
   </extension>
   <extension point="org.preesm.workflow.loggers">
      <logger id="net.sf.dftools.ui.workflow.logger"
         type="org.preesm.ui.workflow.tools.PreesmWorkflowLogger">
      </logger>
   </extension>
   <extension point="graphiti.definition">
      <configuration extension="workflow" name="Workflow"
         type="text/xml"
         validator="org.preesm.ui.workflow.WorkflowValidator">
         <graphType name="DFTools Workflow">
         </graphType>
         <import>
            <xslt
               name="xslt/net/sf/dftools/workflow/input_workflow.xslt">
            </xslt>
         </import>
         <export>
            <xslt
               name="xslt/net/sf/dftools/workflow/output_workflow.xslt">
            </xslt>
         </export>
         <vertexType name="Scenario source">
            <color blue="77" green="80" red="192">
            </color>
            <shape type="roundedBox">
            </shape>
            <size height="30" width="30">
            </size>
            <parameter default="scenario" name="id"
               type="java.lang.String">
            </parameter>
            <parameter default="org.ietr.preesm.scenario.task"
               name="plugin identifier" type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType name="Task">
            <color blue="125" green="73" red="31">
            </color>
            <shape type="roundedBox">
            </shape>
            <size height="40" width="40">
            </size>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <parameter name="variable declaration"
               type="java.util.Map">
            </parameter>
            <parameter name="plugin identifier"
               type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType directed="true" name="Data transfer">
            <parameter name="source port"
               type="java.lang.String">
            </parameter>
            <parameter name="target port"
               type="java.lang.String">
            </parameter>
         </edgeType>
      </configuration>
   </extension>


   <extension point="org.eclipse.ui.commands">
      <command
         id="org.ietr.dftools.ui.command.workflow.converter"
         name="Convert Old Workflow">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
         class="org.preesm.ui.workflow.command.WorkflowConverterHandler"
         commandId="org.ietr.dftools.ui.command.workflow.converter">
      </handler>
   </extension>


   <extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="false"
         locationURI="popup:org.ietr.preesm.ui.menu1">
         <command
            commandId="org.ietr.dftools.ui.command.workflow.converter"
            icon="icons/workflow.png" label="Convert Old Workflow"
            style="push"
            tooltip="Convert a Workflow file using the old format into a workflow using the new format.">
            <visibleWhen checkEnabled="true">
               <with variable="selection">
                  <count value="1">
                  </count>
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                        type="org.eclipse.core.resources.IResource">
                        <and>
                           <test
                              property="org.eclipse.core.resources.extension"
                              value="workflow">
                           </test>

                           <test
                              property="net.sf.dftools.isOldWorkflow"
                              forcePluginActivation="true" value="false">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>




   <!-- The PREESM perspective definition -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.preesm.ui.perspective.PreesmPerspective"
            fixed="false"
            icon="icons/preesmProject.png"
            id="org.preesm.ui.perspective"
            name="Preesm">
      </perspective>
   </extension>

   <!-- Wizards -->
   <extension
         point="org.eclipse.ui.newWizards">
      <!-- the Preesm category -->
      <category
            id="org.ietr.preesm.category"
            name="Preesm">
      </category>
      <!-- new Preesm Project -->
      <wizard
            category="org.ietr.preesm.category"
            class="org.preesm.ui.wizards.NewPreesmProjectWizard"
            hasPages="true"
            icon="icons/preesmProject.png"
            id="org.ietr.preesm.core.wizards.NewPreesmProjectWizard"
            name="Preesm Project"
            project="true">
         <description>
            Create a new Preesm project
         </description>
      </wizard>
   </extension>
   <!-- Preesm project nature definition -->
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/preesmProjectNature.png"
            id="org.ietr.preesm.core.ui.wizards.projectNatureImage"
            natureId="org.ietr.preesm.core.ui.wizards.nature">
         <description>
            A Preesm project.
         </description>
      </image>
   </extension>
   <!-- Preesm console -->
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.preesm.ui.console.CoreConsoleFactory"
            icon="icons/preesm2mini.PNG"
            label="Preesm Log">
      </consoleFactory>
   </extension>
   <!-- resource filter to hide .layout files -->
   <!-- TODO: rename -->
   <extension
         id="albert"
         name="albert"
         point="org.eclipse.ui.ide.resourceFilters">
      <filter
            pattern="*.layout"
            selected="true">
         <description>
            albert
         </description>
      </filter>
   </extension>
   <!-- Navigator content -->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <!-- *.layout filter -->
      <commonFilter
            activeByDefault="true"
            class="org.preesm.ui.ProjectExplorerFilter"
            description="Filters the *.layout files"
            id="org.ietr.preesm.core.layoutfilefilter"
            name="LayoutFileFilter"
            visibleInUI="true">
     </commonFilter>

     <!-- Workflow Wizard ref -->
     <!-- TODO: id comes from dftools.... -->
	 <commonWizard type="new"
	   wizardId="org.ietr.preesm.ui.wizards.workflow">
	     <enablement>
		   <or>
		    <adapt type="org.eclipse.core.resources.IFolder" />
		    <adapt type="org.eclipse.core.resources.IProject" />
		   </or>
	     </enablement>
	 </commonWizard>

     <!-- Preesm project Wizard ref -->
	 <commonWizard type="new"
	   wizardId="org.ietr.preesm.core.wizards.NewPreesmProjectWizard">
	     <enablement>
			<or>
				<with variable="selection">
					<count value="0"/>
				</with>
				<adapt type="org.eclipse.core.resources.IProject" />
			</or>
	     </enablement>
	 </commonWizard>
   </extension>

   <!-- Preesm wizard nature -->
   <extension
         id="org.ietr.preesm.core.ui.wizards.nature"
         name="Preesm Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.preesm.ui.wizards.PreesmProjectNature">
         </run>
      </runtime>
   </extension>

   <extension
         point="graphiti.definition">
      <!-- IP-XACT Design Editor specs -->
      <configuration
            extension="design"
            name="IP-XACT Design"
            type="text/xml"
            validator="org.preesm.ui.editor.graph.validators.IPXACTValidator">
         <graphType
               name="Spirit IP-XACT simple design">
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <xslt
                  name="xslt/org/ietr/preesm/ip-xact/input_IP-XACT-Design-Simple.xslt">
            </xslt>
         </import>
         <vertexType
               name="hierConnection">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="componentInstance">
            <color
                  blue="255"
                  green="255"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="componentType"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="operator">
            <color
                  blue="16"
                  green="220"
                  red="123">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="-1"
                  name="dataCopySpeed"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="medium">
            <color
                  blue="96"
                  green="96"
                  red="244">
            </color>
            <shape
                  type="circle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="medium_dataRate"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="medium_overhead"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="parallelNode">
            <color
                  blue="252"
                  green="209"
                  red="199">
            </color>
            <shape
                  type="triangle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="dataRate"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="contentionNode">
            <color
                  blue="25"
                  green="14"
                  red="11">
            </color>
            <shape
                  type="triangle">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="dataRate"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="dma">
            <color
                  blue="0"
                  green="100"
                  red="50">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType
               name="ram">
            <color
                  blue="150"
                  green="255"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="refinement"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="definition"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType
               directed="true"
               name="setup">
            <color
                  blue="0"
                  green="255"
                  red="0">
            </color>
            <parameter
                  name="setupTime"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType
               directed="false"
               name="hierConnection">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType
               directed="false"
               name="interconnection">
            <color
                  blue="0"
                  green="0"
                  red="0">
            </color>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="source port"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="target port"
                  type="java.lang.String">
            </parameter>
         </edgeType>
         <export>
            <xslt
                  name="xslt/org/ietr/preesm/ip-xact/output_IP-XACT-Design-Simple.xslt">
            </xslt>
         </export>
      </configuration>
      <!-- IP-XACT Component Editor specs -->
      <configuration
            extension="component"
            name="IP-XACT Component"
            type="text/xml"
            validator="org.preesm.ui.editor.graph.validators.IPXACTValidator">
         <graphType
               name="Spirit IP-XACT simple component">
            <parameter
                  name="cmpVendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpLibrary"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpName"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="cmpVersion"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0x00000000"
                  name="memoryAddress"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="0xFFFFFFFF"
                  name="memoryRange"
                  type="java.lang.String">
            </parameter>
            <parameter
                  default="128"
                  name="memoryWidth"
                  type="java.lang.String">
            </parameter>
         </graphType>
         <import>
            <xslt
                  name="xslt/org/ietr/preesm/ip-xact/input_IP-XACT-Component-Simple.xslt">
            </xslt>
         </import>
         <vertexType
               name="Port">
            <color
                  blue="0"
                  green="0"
                  red="255">
            </color>
            <shape
                  type="roundedBox">
            </shape>
            <size
                  height="30"
                  width="30">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busVendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busLibrary"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busName"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="busVersion"
                  type="java.lang.String">
            </parameter>
         </vertexType>
         <export>
            <xslt
                  name="xslt/org/ietr/preesm/ip-xact/output_IP-XACT-Component-Simple.xslt">
            </xslt>
         </export>
         <vertexType
               name="subDesign">
            <color
                  blue="85"
                  green="0"
                  red="163">
            </color>
            <shape
                  type="circle">
            </shape>
            <size
                  height="40"
                  width="40">
            </size>
            <parameter
                  name="id"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="vendor"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="library"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="name"
                  type="java.lang.String">
            </parameter>
            <parameter
                  name="version"
                  type="java.lang.String">
            </parameter>
         </vertexType>
      </configuration>
   </extension>


   <!-- Preesm Menus -->
   <extension
         point="org.eclipse.ui.menus">
      <!-- actions available in the project navigator (not PiMM specific) -->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <menu
               icon="icons/preesmProject.png"
               id="org.ietr.preesm.ui.menu1"
               label="Preesm">
            <!-- run the selected workflow -->
            <command
                  commandId="org.ietr.preesm.ui.command.RunWorkflow"
                  icon="icons/workflow.png"
                  label="Run Workflow"
                  style="push"
                  tooltip="Launch a Preesm Workflow">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="selection">
                     <and>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="workflow">
                              </test>
                           </adapt>
                        </iterate>
                        <count
                              value="1">
                        </count>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <!-- actions available in the WorkflowEditor popup -->
      <menuContribution
            allPopups="false"
            locationURI="popup:net.sf.graphiti.GraphitiContextMenu?before=additions">
         <!-- Run the workflow from the editor -->
         <command
               commandId="org.ietr.preesm.ui.command.RunWorkflow"
               icon="icons/workflow.png"
               label="Run Workflow"
               style="push"
               tooltip="Launch a Preesm Workflow">
				<visibleWhen checkEnabled="true">
					<with variable="activeEditorId">
						<equals value="net.sf.dftools.ui.WorkflowEditor"/>
					</with>
				</visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <!-- Preesm commands (for menus) -->
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.ietr.preesm.ui.command.RunWorkflow"
            name="Run Workflow">
      </command>
   </extension>

   <!-- Preesm command handlers (for menus) -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.preesm.ui.popup.actions.WorkflowRunnerPopup"
            commandId="org.ietr.preesm.ui.command.RunWorkflow">
      </handler>
   </extension>

   <!-- ?? -->
   <extension
         id="org.ietr.preesm.ui.projectexplorerviewer"
         name="org.ietr.preesm.ui.projectexplorerviewer"
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.ietr.preesm.core.layoutfilefilter">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.ietr.preesm.experiment.pifilefilter">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="Preesm">
         <property
               name="windowImages"
               value="icons/preesmLogo_16x16.bmp,icons/preesmLogo_32x32.bmp,icons/preesmLogo_48x48.bmp,icons/preesmLogo_64x64.bmp,icons/preesmLogo_128x128.bmp,icons/preesmLogo_256x256.bmp">
         </property>
         <property
               name="appName"
               value="Preesm">
         </property>
         <property
               name="aboutText"
               value="PREESM [&apos;prɪzəm] is an open source rapid prototyping tool. It simulates signal processing applications and generates code for heterogeneous multi/many-core embedded systems. Its dataflow language eases the description of parallel signal processing applications.&#x0A;&#x0A;         PREESM is released under the CeCILL-C License.&#x0A;&#x0A;         Please visit our webpage for more info : http://preesm.org/"/>
		<property
				name="aboutImage"
				value="icons/preesmLogo_48x48.png"/>
  <property
        name="startupForegroundColor"
        value="000000">
  </property>
  <property
        name="startupMessageRect"
        value="7,251,445,20">
  </property>
  <property
        name="startupProgressRect"
        value="5,290,445,15">
  </property>
  <property
        name="preferenceCustomization"
        value="plugin_customization.ini">
  </property>



      </product>
   </extension>
</plugin>
