<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tasks" name="%tasksName" schema="schema/tasks.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.ietr.preesm.core.ui.perspectives.CorePerspectiveFactory"
            fixed="false"
            icon="icons/preesmProject.png"
            id="org.ietr.preesm.core.ui.perspective"
            name="PreesmCore">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.ietr.preesm.core.ui.propertyTesters.PreesmPropertyTester"
            id="org.ietr.preesm.core.natureTester"
            namespace="org.ietr.preesm.core"
            properties="hasNature"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
      <propertyTester
            class="org.ietr.preesm.core.ui.propertyTesters.PreesmPropertyTester"
            id="org.ietr.preesm.core.workflowTester"
            namespace="org.ietr.preesm.core"
            properties="isWorkflow"
            type="org.eclipse.core.resources.IFile">
      </propertyTester>
   </extension>
   <extension
         id="org.ietr.preesm.core.natures.PreesmProjectNature"
         name="Preesm Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.ietr.preesm.core.ui.natures.PreesmProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/preesmProjectNature.png"
            id="org.ietr.preesm.core.projectNatureImage"
            natureId="org.ietr.preesm.core.natures.PreesmProjectNature">
         <description>
            A Preesm project.
         </description>
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.ietr.preesm.core.category"
            name="Preesm">
      </category>
      <wizard
            category="org.ietr.preesm.core.category"
            class="org.ietr.preesm.core.ui.wizards.NewPreesmProjectWizard"
            hasPages="true"
            icon="icons/preesmProject.png"
            id="org.ietr.preesm.core.wizards.NewPreesmProjectWizard"
            name="Preesm Project"
            project="true">
         <description>
            Create a new Preesm project
         </description>
      </wizard>
      <wizard
            category="org.ietr.preesm.core.category"
            class="org.ietr.preesm.core.ui.wizards.NewScenarioFileWizard"
            hasPages="true"
            icon="icons/preesm4mini.PNG"
            id="org.ietr.preesm.core.ui.wizards.NewScenarioFileWizard"
            name="Scenario File"
            project="false">
         <description>
            Create a new scenario file
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.ietr.preesm.core.ui.launch.WorkflowLaunchConfigurationDelegate"
            id="org.ietr.preesm.core.workflowLaunchConfigurationType"
            modes="run"
            name="Preesm Workflow"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.ietr.preesm.core.ui.launch.WorkflowLaunchConfigurationTabGroup"
            id="org.ietr.preesm.core.workflowLaunchConfigurationTabGroup"
            type="org.ietr.preesm.core.workflowLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.ietr.preesm.core.workflowLaunchConfigurationType"
            icon="icons/preesmProjectNature.png"
            id="org.ietr.preesm.core.workflowLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.ietr.preesm.core.ui.launch.WorkflowLaunchShortcut"
            icon="icons/preesmProjectNature.png"
            id="org.ietr.preesm.core.workflowLaunchShortcut"
            label="Preesm Workflow"
            modes="run">
        
                        <description
                              description="Create a Preesm workflow"
                              mode="run,debug">
                        </description> <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     
                     <and><test
                           property="org.ietr.preesm.core.hasNature"
                           value="org.ietr.preesm.core.natures.PreesmProjectNature">
                     </test>
                     <test
                                property="org.ietr.preesm.core.isWorkflow">
                          </test>
                          </and>
                          </iterate>
                          </with>
                          </enablement>
                          </contextualLaunch>
                          </shortcut>
                          </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ietr.preesm.core.scenario.editor.ScenarioEditor"
            default="true"
            extensions="scenario"
            icon="icons/preesm4mini.PNG"
            id="org.ietr.preesm.core.scenario.editor.ScenarioEditor"
            name="Preesm scenario editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="org.ietr.preesm.core.ui.console.CoreConsoleFactory"
            icon="icons/preesm2mini.PNG"
            label="Preesm Core Console">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.ietr.preesm.core.ui.perspective">
         <actionSet
               id="org.ietr.preesm.core.ui.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Core action set"
            id="org.ietr.preesm.core.ui.actionSet"
            label="Core action set"
            visible="true">
         <action
               class="org.eclipse.debug.internal.ui.actions.RunToolbarAction"
               disabledIcon="icons/preesm3mini.PNG"
               helpContextId="run_action_context"
               hoverIcon="icons/preesm3mini.PNG"
               icon="icons/preesm3mini.PNG"
               id="org.ietr.preesm.core.ui.action.run"
               label="Map with PREESM"
               mode="FORCE_TEXT"
               style="pulldown"
               toolbarPath="debug">
         </action>
      </actionSet>
   </extension>


</plugin>
