<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegen -->
      <package
            uri="http://codegen/1.0"
            class="org.ietr.preesm.codegen.model.codegen.CodegenPackage"
            genModel="model/Codegen.xcore"/>
   </extension>

</plugin>
