<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ietr.preesm.core.tasks">
      <task
            id="org.ietr.preesm.plugin.transforms.sdf2hsdf"
            name="SDF2HSDF"
            type="org.ietr.preesm.plugin.transforms.HSDFTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.transforms.flathierarchy"
            name="Hierarchy flattening"
            type="org.ietr.preesm.plugin.transforms.HierarchyFlattening">
      </task>
      <task
            id="org.ietr.preesm.plugin.transforms.graphlooping"
            name="Detecting loops in graph"
            type="org.ietr.preesm.plugin.transforms.GraphLooping">
      </task>
      <task
            id="org.ietr.preesm.plugin.exportXml.sdf4jgml"
            name="SDF4J GML Exporter "
            type="org.ietr.preesm.plugin.exportXml.SDF4JGMLExporter">
      </task>
   </extension>

</plugin>
