<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.sf.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.plugin.exportXml.sdf4jgml"
            name="SDF4J GML Exporter "
            type="org.ietr.preesm.algorithm.exportXml.SDFExporter">
         <inputs>
            <input
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.plugin.transforms.sdf2hsdf"
            name="SDF2HSDF"
            type="org.ietr.preesm.algorithm.transforms.HSDFTransformation">
         <inputs>
            <input
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.plugin.transforms.flathierarchy"
            name="Hierarchy flattening"
            type="org.ietr.preesm.algorithm.transforms.HierarchyFlattening">
         <inputs>
            <input
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.exportDif.DIFExporter"
            name="DIF Exporter"
            type="org.ietr.preesm.algorithm.exportDif.DIFExporter">
         <inputs>
            <input
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
      </task>
   </extension>

</plugin>
