<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.plugin.exportXml.sdf4jgml"
            name="SDF4J GML Exporter "
            type="org.ietr.preesm.algorithm.exportXml.SDFExporter">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.plugin.transforms.sdf2hsdf"
            name="SDF2HSDF"
            type="org.ietr.preesm.algorithm.transforms.HSDFTransformation">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.plugin.transforms.flathierarchy"
            name="Hierarchy flattening"
            type="org.ietr.preesm.algorithm.transforms.HierarchyFlattening">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.exportDif.DIFExporter"
            name="DIF Exporter"
            type="org.ietr.preesm.algorithm.exportDif.DIFExporter">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.randomsdf.RandomSDF"
            name="Random SDF Generator"
            type="org.ietr.preesm.algorithm.randomsdf.RandomSDF">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
            <input
                  id="architecture"
                  object="org.ietr.dftools.architecture.slam.Design">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
            <output
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.importSdf3Xml.Sdf3Importer"
            name="SDF3 Importer"
            type="org.ietr.preesm.algorithm.importSdf3Xml.Sdf3Importer">
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
            <output
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </output>
         </outputs>
         <inputs>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
            <input
                  id="architecture"
                  object="org.ietr.dftools.architecture.slam.Design">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.exportSdf3Xml.Sdf3Exporter"
            name="SDF3 Exporter"
            type="org.ietr.preesm.algorithm.exportSdf3Xml.Sdf3Exporter">
         <inputs>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
            <input
                  id="architecture"
                  object="org.ietr.dftools.architecture.slam.Design">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.exportXml.MultiSDFExporter"
            name="Multi SDF Exporter "
            type="org.ietr.preesm.algorithm.exportXml.MultiSDFExporter">
         <inputs>
            <input
                  id="SDFs"
                  object="java.util.Set&lt;org.ietr.dftools.algorithm.model.sdf.SDFGraph&gt;">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.transforms.MultiHSDFTransformation"
            name="Multi SDF2HSDF"
            type="org.ietr.preesm.algorithm.transforms.MultiHSDFTransformation">
         <inputs>
            <input
                  id="SDFs"
                  object="java.util.Set&lt;org.ietr.dftools.algorithm.model.sdf.SDFGraph&gt;">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDFs"
                  object="java.util.Set&lt;org.ietr.dftools.algorithm.model.sdf.SDFGraph&gt;">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.transforms.MultiHierarchyFlattening"
            name="Multi hierarchy flattening"
            type="org.ietr.preesm.algorithm.transforms.MultiHierarchyFlattening">
         <inputs>
            <input
                  id="SDFs"
                  object="java.util.Set&lt;org.ietr.dftools.algorithm.model.sdf.SDFGraph&gt;">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDFs"
                  object="java.util.Set&lt;org.ietr.dftools.algorithm.model.sdf.SDFGraph&gt;">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
