<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright or © or Copr. IETR/INSA - Rennes (2008 - 2017) :

    Antoine Morvan <antoine.morvan@insa-rennes.fr> (2017)
    Clément Guy <clement.guy@insa-rennes.fr> (2014 - 2015)
    Julien_Hascoet <jhascoet@kalray.eu> (2016)
    Karol Desnos <karol.desnos@insa-rennes.fr> (2011 - 2015)
    Matthieu Wipliez <matthieu.wipliez@insa-rennes.fr> (2008)
    Maxime Pelcat <maxime.pelcat@insa-rennes.fr> (2009 - 2016)

    This software is a computer program whose purpose is to help prototyping
    parallel applications using dataflow formalism.

    This software is governed by the CeCILL  license under French law and
    abiding by the rules of distribution of free software.  You can  use,
    modify and/ or redistribute the software under the terms of the CeCILL
    license as circulated by CEA, CNRS and INRIA at the following URL
    "http://www.cecill.info".

    As a counterpart to the access to the source code and  rights to copy,
    modify and redistribute granted by the license, users are provided only
    with a limited warranty  and the software's author,  the holder of the
    economic rights,  and the successive licensors  have only  limited
    liability.

    In this respect, the user's attention is drawn to the risks associated
    with loading,  using,  modifying and/or developing or reproducing the
    software by the user in light of its specific status of free software,
    that may mean  that it is complicated to manipulate,  and  that  also
    therefore means  that it is reserved for developers  and  experienced
    professionals having in-depth computer knowledge. Users are therefore
    encouraged to load and test the software's suitability as regards their
    requirements in conditions enabling the security of their systems and/or
    data to be ensured and,  more generally, to use and operate it in the
    same conditions as regards security.

    The fact that you are presently reading this means that you have had
    knowledge of the CeCILL license and that you accept its terms.

-->
<?eclipse version="3.4"?>

<plugin>
   <extension-point id="printers" name="Printers" schema="schema/printers.exsd"/>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated codegen -->
      <package
            uri="http://codegen/1.0"
            class="org.ietr.preesm.codegen.xtend.model.codegen.CodegenPackage"
            genModel="model/codegen.genmodel"/>
   </extension>
   <extension
         point="org.ietr.preesm.codegen.xtend.printers">
      <printers
            language="XML">
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.XMLPrinter"
               extension=".xml">
            <core_type
                  type="x86">
            </core_type>
            <core_type
                  type="c6678">
            </core_type>
         </printer>
      </printers>
      <printers
            language="C">
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.c.CPrinter"
               extension=".c">
            <core_type
                  type="x86">
            </core_type>
            <core_type
                  type="ARM">
            </core_type>
            <core_type
                  type="GPP">
            </core_type>
            <core_type
                  type="ARM_CortexA7">
            </core_type>
            <core_type
                  type="ARM_CortexA15">
            </core_type>
         </printer>
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.c.C6678CPrinter"
               extension=".c">
            <core_type
                  type="c6678">
            </core_type>
         </printer>
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.c.MPPA2Printer"
               extension=".c">
            <core_type
                  type="MPPA2">
            </core_type>
         </printer>
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.c.MPPA2ExplicitPrinter"
               extension=".c">
            <core_type
                  type="MPPA2Explicit">
            </core_type>
         </printer>
      </printers>
      <printers
            language="InstrumentedC">
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.c.instrumented.InstrumentedCPrinter"
               extension=".c">
            <core_type
                  type="x86">
            </core_type>
            <core_type
                  type="ARM_CortexA7">
            </core_type>
            <core_type
                  type="ARM_CortexA15">
            </core_type>
            <core_type
                  type="ARM">
            </core_type>
            <core_type
                  type="GPP">
            </core_type>
         </printer>
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.c.instrumented.InstrumentedC6678CPrinter"
               extension=".c">
            <core_type
                  type="c6678">
            </core_type>
         </printer>
      </printers>
      <printers
            language="ComTracking">
         <printer
               class="org.ietr.preesm.codegen.xtend.printer.ComTrackingPrinter"
               extension=".txt">
            <core_type
                  type="x86">
            </core_type>
            <core_type
                  type="c6678">
            </core_type>
         </printer>
      </printers>
   <printers
         language="PapifiedC">
      <printer
            class="org.ietr.preesm.codegen.xtend.printer.c.instrumented.PapifiedCPrinter"
            extension=".c">
         <core_type
               type="x86">
         </core_type>
      </printer>
   </printers>
   </extension>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.codegen.xtend.task.CodegenTask"
            name="Xtend Codegen"
            type="org.ietr.preesm.codegen.xtend.task.CodegenTask">
         <inputs>
            <input
                  id="MEGs"
                  object="java.util.Map">
            </input>
            <input
                  id="architecture"
                  object="org.ietr.dftools.architecture.slam.Design">
            </input>
            <input
                  id="DAG"
                  object="org.ietr.dftools.algorithm.model.dag.DirectedAcyclicGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
      </task>
   </extension>
</plugin>
