<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ietr.preesm.core.tasks">
      <task
            id="org.ietr.preesm.plugin.mapper.fast"
            name="Kwok FAST algorithm"
            type="org.ietr.preesm.plugin.mapper.FASTTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.pfast"
            name="Kwok PFAST algorithm (parallel version of FAST)"
            type="org.ietr.preesm.plugin.mapper.PFASTTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.listscheduling"
            name="Kwok list scheduling algorithm"
            type="org.ietr.preesm.plugin.mapper.ListSchedulingTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.pgenetic"
            name="Parallel genetic scheduling algorithm"
            type="org.ietr.preesm.plugin.mapper.PGeneticTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.standardgenetic"
            name="Standard genetic scheduling algorithm"
            type="org.ietr.preesm.plugin.mapper.StandardGeneticTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.commcontenlistsched"
            name="Communication contentious list scheduling"
            type="org.ietr.preesm.plugin.mapper.CommContenListSchedTransformation">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.graphtransfo.DAGExporterTransform"
            name="Gantt Exporter"
            type="org.ietr.preesm.plugin.mapper.graphtransfo.DAGExporterTransform">
      </task>
      <task
            id="org.ietr.preesm.plugin.mapper.plot"
            name="Gantt plot transform"
            type="org.ietr.preesm.plugin.mapper.plot.ganttswtdisplay.GanttPlotTransform">
      </task>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            describer="org.ietr.preesm.plugin.mapper.plot.ganttswtdisplay.GanttContentDescriber"
            file-extensions="gantt"
            id="org.ietr.preesm.mapper.gantttype"
            name="gantt"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.ietr.preesm.plugin.mapper.plot.ganttswtdisplay.ImplementationEditor"
            default="true"
            icon="icons/preesm2mini.PNG"
            id="org.ietr.preesm.plugin.mapper.plot.ganttswtdisplay.ImplementationEditor"
            name="ImplementationEditor">
      </editor>
      <editor
            class="org.ietr.preesm.plugin.mapper.plot.timeswtdisplay.TimeEditor"
            default="true"
            icon="icons/preesm3mini.PNG"
            id="org.ietr.preesm.plugin.mapper.plot.timeswtdisplay.TimeEditor"
            name="TimeEditor">
      </editor>
   </extension>

</plugin>
