<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.ietr.preesm.pimm.checker.popupPiMMChecker"
            nameFilter="*.pi">            
         <menu
               label="PREESM"
               path="additions"
               id="org.ietr.preesm.pimm.checker.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Check algorithm"
               class="org.ietr.preesm.pimm.checker.popup.actions.PiMMAlgorithmCheckerPopup"
               menubarPath="org.ietr.preesm.pimm.checker.menu1/group1"
               enablesFor="1"
               id="org.ietr.preesm.pimm.checker.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.pimm.checker.task.PiMMAlgorithmCheckerTask"
            name="PiMM Checker"
            type="org.ietr.preesm.pimm.checker.task.PiMMAlgorithmCheckerTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.ietr.preesm.experiment.model.pimm.PiGraph"></output>
         </outputs>
      </task>
   </extension>

</plugin>
