<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.ietr.preesm.core.workflowLaunchConfigurationType">
<stringAttribute key="attr_ocaml_launch_args" value="ujfgh"/>
<stringAttribute key="attr_ocaml_launch_full_path" value="C:\Documents and Settings\mpelcat.PC-EII128\runtime-EclipseApplication\Test\a.workflow"/>
<stringAttribute key="attr_ocaml_launch_project_name" value="dghs"/>
<booleanAttribute key="attr_ocaml_remote_debug_enable" value="false"/>
<stringAttribute key="attr_ocaml_remote_debug_port" value="8000"/>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="CodeGenSourcePath" value="D:\Projets\PreesmSourceForge\trunk\tests\MapperAndCodegen_1\Code"/>
</mapAttribute>
<stringAttribute key="org.ietr.preesm.core.algorithmFileName" value="D:\Projets\PreesmSourceForge\trunk\tests\MapperAndCodegen_1\TestCom.xml"/>
<stringAttribute key="org.ietr.preesm.core.architectureFileName" value=""/>
<intAttribute key="org.ietr.preesm.core.architectureType" value="1"/>
<stringAttribute key="org.ietr.preesm.core.scenarioFileName" value=""/>
<stringAttribute key="org.ietr.preesm.core.workflowFileName" value="D:\Projets\PreesmSourceForge\trunk\tests\MapperAndCodegen_1\mapperAndCodegen.workflow"/>
</launchConfiguration>
