<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.preesm.core.tasks">
      <task
            id="org.ietr.preesm.plugin.architransfo.transforms.HierarchyFlattening"
            name="Architecture Hierarchy Flattening"
            type="org.ietr.preesm.plugin.architransfo.transforms.HierarchyFlattening">
      </task>
   </extension>


</plugin>
