<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.evaluator.PeriodicEvaluator"
            name="Periodic Schedule Evaluation"
            type="org.ietr.preesm.evaluator.SDFPeriodicEvaluator">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
            <input
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </input>
         </inputs>
         <outputs>
            <output
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
            <output
                  id="Throughput"
                  object="java.lang.Double">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
