<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="preesm">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2024-12"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="11.6.1.202407022008"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.15.2.v20240812-1535"/>
			<unit id="org.eclipse.egit.feature.group" version="7.1.0.202411261347-r"/>
			<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.40.0.v20240911-1442"/>
			<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.40.0.v20240911-1442"/>
			<unit id="org.eclipse.emf.codegen.feature.group" version="2.26.0.v20240911-1027"/>
			<unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.27.0.v20240911-1027"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.31.0.v20241001-1300"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.40.0.v20241018-1213"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.2700.v20240929-1145"/>
			<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.1.202411181539"/>
			<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.19.2.202311281543"/>
			<unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.19.2.202311281543"/>
			<unit id="org.eclipse.pde.feature.group" version="3.16.100.v20241120-1800"/>
			<unit id="org.eclipse.platform.feature.group" version="4.34.0.v20241120-1800"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.34.0.v20241120-1800"/>
			<unit id="org.eclipse.tm.terminal.feature.feature.group" version="11.6.1.202406241230"/>
			<unit id="org.eclipse.tm.terminal.view.feature.feature.group" version="11.6.1.202406241230"/>
			<unit id="org.eclipse.xtend.sdk.feature.group" version="2.37.0.v20241119-0857"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.37.0.v20241119-0857"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/21/updates/release/21.0.8"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.stripped.feature.group" version="21.0.8.v20250724-1412"/>
		</location>
		<location includeMode="planner" includeDependencyDepth="none" includeDependencyScopes="compile" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-annotations</artifactId>
					<version>2.20</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>tools.jackson.core</groupId>
					<artifactId>jackson-core</artifactId>
					<version>3.0.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>tools.jackson.core</groupId>
					<artifactId>jackson-databind</artifactId>
					<version>3.0.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
				    <groupId>jakarta.annotation</groupId>
				    <artifactId>jakarta.annotation-api</artifactId>
				    <version>3.0.0</version>
				    <type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.mockito</groupId>
					<artifactId>mockito-core</artifactId>
					<version>5.20.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by org.mockito.mockito-core -->
					<groupId>net.bytebuddy</groupId>
					<artifactId>byte-buddy-agent</artifactId>
					<version>1.17.8</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by org.mockito.mockito-core -->
					<groupId>net.bytebuddy</groupId>
					<artifactId>byte-buddy</artifactId>
					<version>1.17.8</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by org.mockito.mockito-core -->
					<groupId>org.objenesis</groupId>
					<artifactId>objenesis</artifactId>
					<version>3.4</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.sourceforge.jexcelapi</groupId>
					<artifactId>jxl</artifactId>
					<version>2.6.12</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache-extras.beanshell</groupId>
					<artifactId>bsh</artifactId>
					<version>2.0b6</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-collections4</artifactId>
					<version>4.5.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-math3</artifactId>
					<version>3.6.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-lang3</artifactId>
					<version>3.19.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
				    <groupId>commons-io</groupId>
				    <artifactId>commons-io</artifactId>
				    <version>2.20.0</version>
				    <type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.velocity</groupId>
					<artifactId>velocity-engine-core</artifactId>
					<version>2.4.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.choco-solver</groupId>
					<artifactId>choco-solver</artifactId>
					<version>4.10.18</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jacorb</groupId>
					<artifactId>jacorb-idl-compiler</artifactId>
					<version>3.9</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jfree</groupId>
					<artifactId>jcommon</artifactId>
					<version>1.0.24</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jfree</groupId>
					<artifactId>jfreechart</artifactId>
					<version>1.5.6</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jgrapht</groupId>
					<artifactId>jgrapht-core</artifactId>
					<version>1.5.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jgrapht</groupId>
					<artifactId>jgrapht-io</artifactId>
					<version>1.5.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by jgrapht.io -->
				    <groupId>org.apache.commons</groupId>
				    <artifactId>commons-text</artifactId>
				    <version>1.14.0</version>
				    <type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by jgrapht.io -->
				    <groupId>org.antlr</groupId>
				    <artifactId>antlr4-runtime</artifactId>
				    <version>4.13.2</version>
				    <type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by jgrapht-core -->
				    <groupId>org.apfloat</groupId>
				    <artifactId>apfloat</artifactId>
				    <version>1.14.0</version>
				    <type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jheaps</groupId>
					<artifactId>jheaps</artifactId>
					<version>0.14</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.ojalgo</groupId>
					<artifactId>ojalgo</artifactId>
					<version>56.0.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.scijava</groupId>
					<artifactId>jep</artifactId>
					<version>2.4.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-api</artifactId>
					<version>2.0.17</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-simple</artifactId>
					<version>2.0.17</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.yaml</groupId>
					<artifactId>snakeyaml</artifactId>
					<version>2.5</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<!-- Required by choco-solver -->
					<groupId>net.sf.trove4j</groupId>
					<artifactId>trove4j</artifactId>
					<version>3.0.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.sf.saxon</groupId>
					<artifactId>Saxon-HE</artifactId>
					<!-- Keep this version -->
					<version>9.9.1-8</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeMode="planner" includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.jboss.tools.tycho-plugins</groupId>
					<artifactId>repository-utils</artifactId>
					<version>4.0.7</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<repositories>
				<repository>
					<id>JBOSS</id>
					<url>https://repository.jboss.org/nexus/content/repositories/public/</url>
				</repository>
			</repositories>
		</location>
	</locations>
</target>
