<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="preesm">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2022-06"/> <!--"file:/home/jheulot/mirror/"/> -->
			<unit id="org.eclipse.emf.ecoretools.sdk.feature.group" version="3.4.0.202201202026"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.30.0.v20220516-1117"/>
			<unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.1.202206070201"/>
			<unit id="org.eclipse.graphiti.sdk.plus.feature.feature.group" version="0.18.0.202106091000"/>
			<unit id="org.eclipse.graphiti.sdk.plus.feature.source.feature.group" version="0.18.0.202106091000"/>
			<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.21.0.v20220426-0617"/>
			<unit id="org.eclipse.egit.feature.group" version="6.2.0.202206071550-r"/>
			<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.14.33.v20220224-2257"/>
			<unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.30.0.v20220426-0617"/>
			<unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.30.0.v20220313-0955"/>
			<unit id="org.eclipse.emf.codegen.feature.group" version="2.23.0.v20210924-1718"/>
			<unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.24.0.v20210924-1718"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1700.v20220509-0833"/>
			<unit id="org.eclipse.xtend.sdk.feature.group" version="2.27.0.v20220530-0508"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.27.0.v20220530-0508"/>
			<unit id="org.eclipse.cdt.sdk.feature.group" version="10.7.0.202206081808"/>
			<unit id="org.eclipse.pde.feature.group" version="3.14.1200.v20220607-0700"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.24.0.v20220607-0700"/>
			<unit id="org.eclipse.platform.feature.group" version="4.24.0.v20220607-0700"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://preesm.insa-rennes.fr/repo"/>
			<unit id="org.ietr.graphiti.feature.feature.group" version="1.13.12"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
			<repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest"/>
			<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.stripped.feature.group" version="17.0.8.v20230801-1951"/>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-lang3</artifactId>
					<version>3.12.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-annotations</artifactId>
					<version>2.14.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-core</artifactId>
					<version>2.14.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-databind</artifactId>
					<version>2.14.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.module</groupId>
					<artifactId>jackson-module-jsonSchema</artifactId>
					<version>2.14.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.github.yannrichet</groupId>
					<artifactId>JMathArray</artifactId>
					<version>1.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>gov.nist.math</groupId>
					<artifactId>jama</artifactId>
					<version>1.0.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>javax.validation</groupId>
					<artifactId>validation-api</artifactId>
					<version>1.1.0.Final</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>jfree</groupId>
					<artifactId>jcommon</artifactId>
					<version>1.0.16</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>jgraph</groupId>
					<artifactId>jgraph</artifactId>
					<version>5.5.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.bytebuddy</groupId>
					<artifactId>byte-buddy-agent</artifactId>
					<version>1.14.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.bytebuddy</groupId>
					<artifactId>byte-buddy</artifactId>
					<version>1.14.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>net.sourceforge.jexcelapi</groupId>
					<artifactId>jxl</artifactId>
					<version>2.6.12</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.antlr</groupId>
					<artifactId>antlr4-runtime</artifactId>
					<version>4.12.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.antlr</groupId>
					<artifactId>antlr4</artifactId>
					<version>4.12.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache-extras.beanshell</groupId>
					<artifactId>bsh</artifactId>
					<version>2.0b6</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-collections4</artifactId>
					<version>4.4</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-math3</artifactId>
					<version>3.6.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.commons</groupId>
					<artifactId>commons-text</artifactId>
					<version>1.10.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.apache.velocity</groupId>
					<artifactId>velocity-engine-core</artifactId>
					<version>2.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.choco-solver</groupId>
					<artifactId>choco-solver</artifactId>
					<version>4.10.12</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jacorb</groupId>
					<artifactId>jacorb-idl-compiler</artifactId>
					<version>3.9</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jfree</groupId>
					<artifactId>jfreechart</artifactId>
					<version>1.5.4</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jgrapht</groupId>
					<artifactId>jgrapht-core</artifactId>
					<version>1.5.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jgrapht</groupId>
					<artifactId>jgrapht-io</artifactId>
					<version>1.5.1</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.jheaps</groupId>
					<artifactId>jheaps</artifactId>
					<version>0.14</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.mockito</groupId>
					<artifactId>mockito-core</artifactId>
					<version>5.3.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.objenesis</groupId>
					<artifactId>objenesis</artifactId>
					<version>3.3</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.ojalgo</groupId>
					<artifactId>ojalgo</artifactId>
					<version>53.0.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.ow2.sat4j</groupId>
					<artifactId>org.ow2.sat4j.core</artifactId>
					<version>2.3.6</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.scijava</groupId>
					<artifactId>jep</artifactId>
					<version>2.4.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-api</artifactId>
					<version>2.0.7</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-simple</artifactId>
					<version>2.0.7</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.yaml</groupId>
					<artifactId>snakeyaml</artifactId>
					<version>2.0</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
		<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>org.jboss.tools.tycho-plugins</groupId>
					<artifactId>repository-utils</artifactId>
					<version>2.7.5</version>
					<type>jar</type>
				</dependency>
			</dependencies>
			<repositories>
				<repository>
					<id>JBOSS</id>
					<url>https://repository.jboss.org/nexus/content/repositories/public/</url>
				</repository>
			</repositories>
		</location>
	</locations>
</target>