<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright or © or Copr. IETR/INSA - Rennes (2011 - 2018) :

    Antoine Morvan <antoine.morvan@insa-rennes.fr> (2017 - 2018)
    Clément Guy <clement.guy@insa-rennes.fr> (2014 - 2015)
    Matthieu Wipliez <matthieu.wipliez@insa-rennes.fr> (2011)
    Maxime Pelcat <maxime.pelcat@insa-rennes.fr> (2011)
    Richard Thavot <Richard.Thavot@insa-rennes.fr> (2011)

    This software is a computer program whose purpose is to help prototyping
    parallel applications using dataflow formalism.

    This software is governed by the CeCILL  license under French law and
    abiding by the rules of distribution of free software.  You can  use,
    modify and/ or redistribute the software under the terms of the CeCILL
    license as circulated by CEA, CNRS and INRIA at the following URL
    "http://www.cecill.info".

    As a counterpart to the access to the source code and  rights to copy,
    modify and redistribute granted by the license, users are provided only
    with a limited warranty  and the software's author,  the holder of the
    economic rights,  and the successive licensors  have only  limited
    liability.

    In this respect, the user's attention is drawn to the risks associated
    with loading,  using,  modifying and/or developing or reproducing the
    software by the user in light of its specific status of free software,
    that may mean  that it is complicated to manipulate,  and  that  also
    therefore means  that it is reserved for developers  and  experienced
    professionals having in-depth computer knowledge. Users are therefore
    encouraged to load and test the software's suitability as regards their
    requirements in conditions enabling the security of their systems and/or
    data to be ensured and,  more generally, to use and operate it in the
    same conditions as regards security.

    The fact that you are presently reading this means that you have had
    knowledge of the CeCILL license and that you accept its terms.

-->
<?eclipse version="3.4"?>

<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
         class="org.ietr.dftools.graphiti.ui.editors.GraphEditor"
         contributorClass="org.ietr.dftools.graphiti.ui.editors.GraphActionBarContributor"
         default="true" extensions="workflow" icon="icons/workflow.png"
         id="net.sf.dftools.ui.WorkflowEditor" name="Workflow Editor">
      </editor>
      <editor
         class="org.ietr.dftools.graphiti.ui.editors.GraphEditor"
         contributorClass="org.ietr.dftools.graphiti.ui.editors.GraphActionBarContributor"
         default="true" extensions="slam" icon="icons/graphiti.gif"
         id="net.sf.dftools.ui.SlamEditor" name="S-LAM Editor">
      </editor>
   </extension>
   <extension
      point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         class="org.ietr.dftools.ui.workflow.launch.WorkflowPropertyTester"
         id="net.sf.dftools.ui.workflow.workflowTester"
         namespace="net.sf.dftools" properties="isWorkflow"
         type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
         class="org.ietr.dftools.ui.workflow.command.OldWorkflowPropertyTester"
         id="net.sf.dftools.ui.workflow.oldWorkflowTester"
         namespace="net.sf.dftools" properties="isOldWorkflow"
         type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard canFinishEarly="false"
         category="org.ietr.preesm.category"
         class="org.ietr.dftools.ui.slam.NewSlamFileWizard"
         hasPages="true" icon="icons/graphiti.gif"
         id="net.sf.dftools.ui.slam.NewSlamFileWizard"
         name="S-LAM Architecture" project="false">
         <description>
            Create a new S-LAM architecture description file
         </description>
      </wizard>
      <wizard canFinishEarly="false"
         category="org.ietr.preesm.category"
         class="org.ietr.dftools.ui.workflow.NewWorkflowFileWizard"
         hasPages="true" icon="icons/graphiti.gif"
         id="org.ietr.preesm.ui.wizards.workflow" name="Preesm Workflow"
         project="false">
         <description>
            Create a new PREESM workflow.
         </description>
      </wizard>
   </extension>
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
         contributorId="org.ietr.dftools.graphiti.ui.properties.contributor">
         <propertySection
            class="org.ietr.dftools.ui.workflow.properties.WorkflowTaskVariablesMapSection"
            filter="org.ietr.dftools.ui.workflow.filters.WorkflowTaskFilter"
            id="net.sf.dftools.ui.workflow.variables.section"
            tab="net.sf.dftools.ui.workflow.variables">
         </propertySection>
         <propertySection
            class="org.ietr.dftools.ui.slam.properties.SlamComponentVariablesMapSection"
            filter="org.ietr.dftools.ui.slam.filters.SlamComponentFilter"
            id="net.sf.dftools.ui.slam.vertex.parameters.section"
            tab="net.sf.dftools.ui.slam.vertex.parameters">
         </propertySection>
         <propertySection
            class="org.ietr.dftools.ui.slam.properties.SlamDesignVariablesMapSection"
            filter="org.ietr.dftools.ui.slam.filters.SlamDesignFilter"
            id="net.sf.dftools.ui.slam.design.parameters.section"
            tab="net.sf.dftools.ui.slam.design.parameters">
         </propertySection>
      </propertySections>
   </extension>
   <extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
         contributorId="org.ietr.dftools.graphiti.ui.properties.contributor">
         <propertyTab
            category="org.ietr.dftools.graphiti.ui.properties.category.vertex"
            id="net.sf.dftools.ui.workflow.variables"
            label="Task Variables">
         </propertyTab>
         <propertyTab
            category="org.ietr.dftools.graphiti.ui.properties.category.vertex"
            id="net.sf.dftools.ui.slam.vertex.parameters"
            label="Custom Parameters">
         </propertyTab>
         <propertyTab
            category="org.ietr.dftools.graphiti.ui.properties.category.graph"
            id="net.sf.dftools.ui.slam.design.parameters"
            label="Design Parameters">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
      point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
         class="org.ietr.dftools.ui.workflow.launch.WorkflowLaunchConfigurationTabGroup"
         id="net.sf.dftools.ui.workflow.launchConfigurationTabGroup"
         type="net.sf.dftools.ui.workflow.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
      point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
         configTypeID="net.sf.dftools.ui.workflow.launchConfigurationType"
         icon="icons/workflow.png"
         id="net.sf.dftools.ui.workflow.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
      point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
         delegate="org.ietr.dftools.ui.workflow.launch.WorkflowLaunchConfigurationDelegate"
         id="net.sf.dftools.ui.workflow.launchConfigurationType"
         modes="run" name="DFTools Workflow" public="true">
      </launchConfigurationType>
   </extension>
   <extension point="org.ietr.dftools.workflow.loggers">
      <logger id="net.sf.dftools.ui.workflow.logger"
         type="org.ietr.dftools.ui.workflow.tools.DFToolsWorkflowLogger">
      </logger>
   </extension>
   <extension point="graphiti.definition">
      <configuration extension="slam" name="S-LAM Design"
         refinement="org.ietr.dftools.ui.slam.SlamRefinementPolicy"
         type="text/xml"
         validator="org.ietr.dftools.ui.slam.SlamValidator">
         <graphType name="S-LAM Design">
            <parameter name="vendor" type="java.lang.String">
            </parameter>
            <parameter name="library" type="java.lang.String">
            </parameter>
            <parameter name="name" type="java.lang.String">
            </parameter>
            <parameter name="version" type="java.lang.String">
            </parameter>
            <parameter name="design parameters"
               type="java.util.Map">
            </parameter>
         </graphType>
         <import>
            <xslt name="xslt/net/sf/dftools/s-lam/input_S-LAM.xslt">
            </xslt>
         </import>
         <vertexType name="hierConnection">
            <color blue="0" green="0" red="255">
            </color>
            <shape type="roundedBox">
            </shape>
            <size height="40" width="40">
            </size>
            <parameter name="id" type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType name="Operator">
            <color blue="140" green="81" red="19">
            </color>
            <shape type="roundedBox">
            </shape>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <size height="40" width="40">
            </size>
            <parameter name="refinement"
               type="java.lang.String">
            </parameter>
            <parameter name="definition"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
         </vertexType>
         <edgeType directed="false" name="hierConnection">
            <color blue="0" green="0" red="255">
            </color>
            <parameter name="source port"
               type="java.lang.String">
            </parameter>
         </edgeType>
         <edgeType directed="true" name="ControlLink">
            <color blue="41" green="213" red="165">
            </color>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <parameter name="source port"
               type="java.lang.String">
            </parameter>
            <parameter name="target port"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
         </edgeType>
         <export>
            <xslt
               name="xslt/net/sf/dftools/s-lam/output_S-LAM.xslt">
            </xslt>
         </export>
         <vertexType name="Mem">
            <color blue="173" green="237" red="198">
            </color>
            <shape type="roundedBox">
            </shape>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <size height="40" width="40">
            </size>
            <parameter name="refinement"
               type="java.lang.String">
            </parameter>
            <parameter name="definition"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
            <parameter name="memSize" type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType directed="false" name="undirectedDataLink">
            <color blue="0" green="0" red="0">
            </color>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <parameter name="source port"
               type="java.lang.String">
            </parameter>
            <parameter name="target port"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
         </edgeType>
         <vertexType name="Dma">
            <color blue="31" green="135" red="70">
            </color>
            <shape type="roundedBox">
            </shape>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <size height="40" width="40">
            </size>
            <parameter name="refinement"
               type="java.lang.String">
            </parameter>
            <parameter name="definition"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
            <parameter name="setupTime"
               type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType directed="true" name="directedDataLink">
            <color blue="0" green="0" red="0">
            </color>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <parameter name="source port"
               type="java.lang.String">
            </parameter>
            <parameter name="target port"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
         </edgeType>
         <vertexType name="contentionComNode">
            <color blue="0" green="124" red="249">
            </color>
            <shape type="roundedBox">
            </shape>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <size height="40" width="40">
            </size>
            <parameter name="speed" type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
            <parameter name="refinement"
               type="java.lang.String">
            </parameter>
            <parameter name="definition"
               type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType name="parallelComNode">
            <color blue="191" green="223" red="255">
            </color>
            <shape type="roundedBox">
            </shape>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <size height="40" width="40">
            </size>
            <parameter name="speed" type="java.lang.String">
            </parameter>
            <parameter name="refinement"
               type="java.lang.String">
            </parameter>
            <parameter name="definition"
               type="java.lang.String">
            </parameter>
            <parameter name="custom parameters"
               type="java.util.Map">
            </parameter>
         </vertexType>
      </configuration>
      <configuration extension="workflow" name="Workflow"
         type="text/xml"
         validator="org.ietr.dftools.ui.workflow.WorkflowValidator">
         <graphType name="DFTools Workflow">
         </graphType>
         <import>
            <xslt
               name="xslt/net/sf/dftools/workflow/input_workflow.xslt">
            </xslt>
         </import>
         <export>
            <xslt
               name="xslt/net/sf/dftools/workflow/output_workflow.xslt">
            </xslt>
         </export>
         <vertexType name="Scenario source">
            <color blue="77" green="80" red="192">
            </color>
            <shape type="roundedBox">
            </shape>
            <size height="30" width="30">
            </size>
            <parameter default="scenario" name="id"
               type="java.lang.String">
            </parameter>
            <parameter default="org.ietr.preesm.scenario.task"
               name="plugin identifier" type="java.lang.String">
            </parameter>
         </vertexType>
         <vertexType name="Task">
            <color blue="125" green="73" red="31">
            </color>
            <shape type="roundedBox">
            </shape>
            <size height="40" width="40">
            </size>
            <parameter name="id" type="java.lang.String">
            </parameter>
            <parameter name="variable declaration"
               type="java.util.Map">
            </parameter>
            <parameter name="plugin identifier"
               type="java.lang.String">
            </parameter>
         </vertexType>
         <edgeType directed="true" name="Data transfer">
            <parameter name="source port"
               type="java.lang.String">
            </parameter>
            <parameter name="target port"
               type="java.lang.String">
            </parameter>
         </edgeType>
      </configuration>
   </extension>


   <extension point="org.eclipse.ui.commands">
      <command
         id="org.ietr.dftools.ui.command.workflow.converter"
         name="Convert Old Workflow">
      </command>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
         class="org.ietr.dftools.ui.workflow.command.WorkflowConverterHandler"
         commandId="org.ietr.dftools.ui.command.workflow.converter">
      </handler>
   </extension>


   <extension point="org.eclipse.ui.menus">
      <menuContribution allPopups="false"
         locationURI="popup:org.ietr.preesm.ui.menu1">
         <command
            commandId="org.ietr.dftools.ui.command.workflow.converter"
            icon="icons/workflow.png" label="Convert Old Workflow"
            style="push"
            tooltip="Convert a Workflow file using the old format into a workflow using the new format.">
            <visibleWhen checkEnabled="true">
               <with variable="selection">
                  <count value="1">
                  </count>
                  <iterate ifEmpty="false" operator="and">
                     <adapt
                        type="org.eclipse.core.resources.IResource">
                        <and>
                           <test
                              property="org.eclipse.core.resources.extension"
                              value="workflow">
                           </test>

                           <test
                              property="net.sf.dftools.isOldWorkflow"
                              forcePluginActivation="true" value="false">
                           </test>
                        </and>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
