<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.scenarios">
      <scenario
            id="org.ietr.preesm.scenario.task"
            type="org.ietr.preesm.core.workflow.SDFAndArchitectureScenarioNode">
         <outputs>
            <output
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </output>
            <output
                  id="SDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </output>
            <output
                  id="architecture"
                  object="net.sf.dftools.architecture.slam.Design">
            </output>
         </outputs>
      </scenario>
      <scenario
            id="org.ietr.preesm.scenario.ibsdfandslam"
            type="org.ietr.preesm.core.workflow.IBSDFAndSLAMScenarioNode">
         <outputs>
            <output
                  id="scenario"
                  object="org.ietr.preesm.core.scenario.PreesmScenario">
            </output>
            <output
                  id="IBSDF"
                  object="net.sf.dftools.algorithm.model.sdf.SDFGraph">
            </output>
            <output
                  id="S-LAM"
                  object="net.sf.dftools.architecture.slam.Design">
            </output>
         </outputs>
      </scenario>
   </extension>


</plugin>
