<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Preesm"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="appName"
               value="Preesm">
         </property>
         <property
               name="windowImages"
               value="icons/preesmLogo.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
