<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Preesm"
            application="org.eclipse.ui.ide.workbench">
         <property
               name="applicationCSS"
               value="platform:/plugin/org.ietr.preesm.rcp/css/default.css">
         </property>
         <property
               name="appName"
               value="Preesm">
         </property>
      </product>
   </extension>

</plugin>
