<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.ietr.preesm.stats.exporter.StatsExporterTask"
            name="Preesm Stats Exporter"
            type="org.ietr.preesm.stats.exporter.StatsExporterTask">
         <inputs>
            <input
                  id="ABC"
                  object="org.ietr.preesm.mapper.abc.IAbc">
            </input></inputs>
      </task>
      <task
            id="org.ietr.preesm.stats.exporter.MultiStatsExporterTask"
            name="Preesm Multi Stats Exporter"
            type="org.ietr.preesm.stats.exporter.MultiStatsExporterTask">
         <inputs>
            <input
                  id="ABCs"
                  object="java.util.Set&lt;org.ietr.preesm.mapper.abc.IAbc&gt;">
            </input>
         </inputs>
      </task>
   </extension>

</plugin>
