<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright or © or Copr. IETR/INSA - Rennes (2012 - 2018) :

    Antoine Morvan <antoine.morvan@insa-rennes.fr> (2017 - 2018)
    Karol Desnos <karol.desnos@insa-rennes.fr> (2012)

    This software is a computer program whose purpose is to help prototyping
    parallel applications using dataflow formalism.

    This software is governed by the CeCILL  license under French law and
    abiding by the rules of distribution of free software.  You can  use,
    modify and/ or redistribute the software under the terms of the CeCILL
    license as circulated by CEA, CNRS and INRIA at the following URL
    "http://www.cecill.info".

    As a counterpart to the access to the source code and  rights to copy,
    modify and redistribute granted by the license, users are provided only
    with a limited warranty  and the software's author,  the holder of the
    economic rights,  and the successive licensors  have only  limited
    liability.

    In this respect, the user's attention is drawn to the risks associated
    with loading,  using,  modifying and/or developing or reproducing the
    software by the user in light of its specific status of free software,
    that may mean  that it is complicated to manipulate,  and  that  also
    therefore means  that it is reserved for developers  and  experienced
    professionals having in-depth computer knowledge. Users are therefore
    encouraged to load and test the software's suitability as regards their
    requirements in conditions enabling the security of their systems and/or
    data to be ensured and,  more generally, to use and operate it in the
    same conditions as regards security.

    The fact that you are presently reading this means that you have had
    knowledge of the CeCILL license and that you accept its terms.

-->
<?eclipse version="3.0"?>

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PiSDF -->
      <package
            uri="http://org.preesm/model/pisdf"
            class="org.preesm.model.pisdf.PiMMPackage"
            genModel="model/PiSDF.xcore"/>
   </extension>

   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.preesm.model.pisdf.serialize.PiResourceFactoryImpl"
            type="pi">
      </parser>
   </extension>


   <extension
         point="org.preesm.workflow.tasks">
      <task
            id="org.ietr.preesm.experiment.pimm.subgraph.connector.SubgraphConnectorTask"
            name="PiMM Subgraph Connector Task"
            type="org.preesm.algorithm.pisdf.subgraph.connector.SubgraphConnectorTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph"></output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.pimm.checker.task.PiMMAlgorithmCheckerTask"
            name="PiMM Checker"
            type="org.preesm.algorithm.pisdf.checker.task.PiMMAlgorithmCheckerTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </output>
         </outputs>
      </task>
      <task
            id="org.ietr.preesm.algorithm.exportXml.pimm2xml"
            name="PiSDFExporter"
            type="org.preesm.model.pisdf.serialize.PiSDFExporterTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </input>
         </inputs>
      </task>
      <task
            id="org.ietr.preesm.pimm.algorithm.pimm2flat.StaticPiMM2FlatPiMMTask"
            name="Static PiMM to Flat PiMM transformation"
            type="org.preesm.model.pisdf.statictools.PiSDFFlattenerTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </output>
         </outputs>
      </task>
      <task
            id="pisdf-srdag"
            name="Static PiSDF to Flat PiSDF transformation"
            type="org.preesm.model.pisdf.statictools.PiSDFToSingleRateTask">
         <inputs>
            <input
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="PiMM"
                  object="org.preesm.model.pisdf.PiGraph">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
