<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.ietr.dftools.workflow.tasks">
      <task
            id="org.abo.preesm.plugin.dataparallel.DataParallel"
            name="Data-Parallel"
            type="org.abo.preesm.plugin.dataparallel.DataParallel">
         <inputs>
            <input
                  id="SDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </input>
         </inputs>
         <outputs>
            <output
                  id="CySDF"
                  object="org.ietr.dftools.algorithm.model.sdf.SDFGraph">
            </output>
            <output
                  id="Info"
                  object="org.abo.preesm.plugin.dataparallel.operations.visitor.RetimingInfo">
            </output>
         </outputs>
      </task>
   </extension>

</plugin>
